<div class="container">
    <div class="row mt-3">
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <label for="floor" class="form-label">Номер этажа</label>
                    <input type="number" class="form-control" id="floor">
                </div>
                <div class="col">
                    <label for="flat" class="form-label">Квартира</label>
                    <input type="number" class="form-control" id="flat">
                </div>
                <div class="col">
                    <label for="line" class="form-label">Линия</label>
                    <input type="number" class="form-control" id="line">
                </div>
                <div class="col">
                    <label for="number" class="form-label">Номер</label>
                    <input type="number" class="form-control" id="number">
                </div>
                <div class="col" style="display: flex; justify-content: center; align-items: center">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-4">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Этаж №</th>
                <th scope="col">Квартира №</th>
                <th scope="col">Линия №</th>
                <th scope="col">Теплосчётчик №</th>
            </tr>
            </thead>
            <tbody>
            {{#each flats}}
            <tr>
                <th scope="row">1</th>
                <td>{{'floor.id'}}</td>
                <td>{{number}}</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>